@{
  Layout = "_Layout";
}

<p>show order here:</p>

<h2>@Model["order"].Description</h2>
@* <h3>Vendor: @Model["vendor"].Name</h3> *@

@* <a href ='vendor/@Model["vendor"].Id/orders/new'>Add another order</a> *@
<a href='/vendor'>Go back to Vendors</a>